<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>A blog website using express framework along with ejs as view engine and mongoDB as Database.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
